<!DOCTYPE html>
<html>
<title>About</title>
<head>
    <style>
        div {
            border: 1px solid gray;
            padding: 6px;
        }
        
        h1 {
            text-align: center;
            text-transform: uppercase;
            color: #4CAF50;
        }
        
        p {
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 3px;
        }
        
        a {
            text-decoration: none;
            color: #008CBA;
        }
    </style>
</head>

<body>

    <div>
        <h1>About</h1>
        <p>This is a Lightweight M2M Project powered by Nguyen Huu Hoang, ID Student: 1411319, from Bach Khoa University. Let go
            <a target="_blank" href="/">Home</a> link to start. My mail: nghuu.hoang@outlook.com ; 1411319@hcmut.edu.vn
        </p>
    </div>

</body>

</html>